<div class="topnav">
  <a [routerLink]="['/home']">Home</a>
  <div class="dropdown">
    <button class="dropbtn" [routerLink]="['/search']" [queryParams]="{ page: 1, limit: 10, ends_min: now}">Categories</button>
    <div class="dropdown-content">
      <a [routerLink]="['/search']" [queryParams]="{ category: 'Art', page: 1, limit: 10, ends_min: now}">Art</a>
      <a [routerLink]="['/search']" [queryParams]="{ category: 'Electronics', page: 1, limit: 10, ends_min: now}">Electronics</a>
      <a [routerLink]="['/search']" [queryParams]="{ category: 'Fashion', page: 1, limit: 10, ends_min: now}">Fashion</a>
      <a [routerLink]="['/search']" [queryParams]="{ category: 'Home & Garden', page: 1, limit: 10, ends_min: now}">Home & Garden</a>
      <a [routerLink]="['/search']" [queryParams]="{ category: 'Music', page: 1, limit: 10, ends_min: now}">Music</a>
      <a [routerLink]="['/search']" [queryParams]="{ category: 'Sports', page: 1, limit: 10, ends_min: now}">Sports</a>
      <a [routerLink]="['/search']" [queryParams]="{ category: 'Toys & Hobbies', page: 1, limit: 10, ends_min: now}">Toys & Hobbies</a>
      <a [routerLink]="['/search']" [queryParams]="{ category: 'Other Categories', page: 1, limit: 10, ends_min: now}">Other</a>
    </div>
  </div>
  <div class="buttonIn">
    <input style="float: left" type="text" placeholder="Search..." [(ngModel)]="searchText" required>
    <button style="background-color: darkseagreen" [routerLink]="['/search']" [queryParams]="{ description: searchText }">Go</button>
  </div>
  <div class="topnav-right" *ngIf="checkForUser(); else isGuest" style="text-align: right">  <!-- if user is logged in -->
    <a (click)="logout()" style="background-color: slateblue; float: right;">Logout</a>
    <div  class="topnav-right" *ngIf="!checkForAdmin()" style="text-align: right">      <!-- options only for users (not admin) -->
      <a [routerLink]="['/bid-item']" style="float: right">My Bids</a>
      <a [routerLink]="['/sell-item']" style="float: right">Sell Items</a>
    </div>

    <a [routerLink]="['/users/' + getUserName()]" style="float: right">User Profile <span *ngIf="unreadMessages()">({{new_messages}})</span></a>

    <div class="topnav-right" *ngIf="checkForAdmin()" style="text-align: right">        <!-- if admin is logged in -->
      <a [routerLink]="['/users']" style="float: right">List of Users</a>
    </div>
  </div>
</div>


<ng-template #isGuest>
  <a [routerLink]="['/login']" style="float: right">Login</a>
  <a [routerLink]="['/register']" style="float: right">Sign Up</a>
</ng-template>

<div class="tab">
  <button (click)="back()">Back</button>
</div>

<h1>{{itemInfo.name}}</h1>
<div class="row">
  <div class="column" *ngFor="let p of photos">
    <table>
      <tr><td style="text-align: center"><img [src]="p.url"></td></tr>
    </table>
  </div>
</div>


<div class="table">
  <table class="items" style="width:60%; margin-bottom: 15px">
      <tr><td colspan="2"> {{itemInfo.description}} </td></tr>
      <tr><td>Categories:
        <ng-container *ngFor="let ctg of itemInfo.categories">
          - {{ ctg.name }}
        </ng-container></td>
        <td style="color: darkgreen">Current bid: {{itemInfo.currently}} $ </td>
      </tr>
      <tr>
        <td style="color: indianred">Ends: {{itemInfo.ends | date:'medium' }}
        <td>Location: {{itemInfo.location}} </td>
      </tr>
    <tr>
      <td>Seller's Rating: {{itemInfo.rating}} </td>
      <td>Country: {{itemInfo.country}} </td>
    </tr>
    <tr>
      <td>Seller: {{itemInfo.userID}} </td>
    </tr>
  </table>
</div>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<div class="table">
  <table class="items" style="width:60%; margin-bottom: 15px">
    <th>Bidder</th>
    <th>Bid</th>
    <th>Rating</th>
    <th>Date</th>
    <ng-container *ngFor="let b of itemInfo.bids">
      <tr><td> {{b.userID}} </td>
        <td> {{b.amount}} $ </td>
        <td> {{b.rating}} </td>
        <td> {{b.time | date:'medium' }} </td>
      </tr>
    </ng-container>
  </table>
</div>

<div *ngIf="bid">
  <div class="block">
    <form [formGroup]="bidForm">
      <h2 style="text-align: center">Place a bid for this item</h2>
      <table style="margin-bottom: 10px; text-align: center">
        <tr><input type="text" placeholder="Amount ($)" class="inp" formControlName="amount"></tr>
        <tr><input type="text" placeholder="Rating" class="inp" formControlName="rating"></tr>
      </table>
      <div *ngIf="confirm" style="text-align: center; margin-bottom: 10px; color: darkgreen">Please confirm your bid. You cannot cancel it after submission.</div>
      <div class="btn">
        <button *ngIf="!confirm" (click)="confirmBid()" [disabled]="bidForm.invalid" style="background-color: #5353b6; width: auto">Bid item</button>
        <button *ngIf="confirm" (click)="bitItem(bidForm.value)" style="background-color: darkgreen; width: auto">Bid item</button>
        <button (click)="cancelBid()" style="background-color: indianred; width: auto">Cancel</button>
      </div>
    </form>
  </div>
</div>

<ng-container *ngIf="!guest && !checkForAdmin()">   <!-- only users can bid (not admin) -->
  <button *ngIf="isOpenAuction()" (click)="placeBid()" style="border-radius: 12px;width: auto; margin-left: 10px; margin-bottom: 20px; margin-top: 20px; background-color: #5353b6">Place bid</button>
</ng-container>
<ng-container *ngIf="guest">             <!-- if a guest wants to bid, redirect to login page -->
  <button *ngIf="isOpenAuction()" [routerLink]="['/login']" style="border-radius: 12px;width: auto; margin-left: 10px; margin-bottom: 20px; margin-top: 20px; background-color: #5353b6">Place bid</button>
</ng-container>

<div *ngIf="!isOpenAuction()" style="color: indianred">Auction has ended. You cannot place any bids.</div>
